<h3>Create a New Page</h3>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :link_title %><br />
    <%= f.text_field :link_title %>
  </p>
  <p>
    <%= f.label :menu_order %><br />
    <%= f.text_field :menu_order, :size => 4 %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink %>
  </p>
  <p>
    <%= f.label :body %><br />
		<%= textile_editor :page, :body %>
  </p>
	
	<%= textile_editor_initialize %>
	
  <p>
    <%= f.submit "Create" %>
  </p>
  
<% end %>

<%= link_to 'Back', pages_path %>
