<h3>Image Gallery</h3>

<% for image in @images %>

	<div class="image_thumb">
		<%= link_to image_tag(image.public_filename(:medium)), image_path(image) %>
		<% if admin %>
			<%= link_to 'Show', image %>
 			<%= link_to 'Edit', edit_image_path(image) %>
 			<%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
		
		<p><%= image.description %></p>
	</div>

<% end %>

<br />

<% if admin %>
	<p><%= link_to 'New image', new_image_path %></p>
<% end %>
